{% extends "layouts/base.html.twig" %}
{% block title %}Account{% endblock %}


{% block body %}
   <h1 class="h3">Welcome <span class="text-info">{{app.user.fullName}}</span> to your account</h1>
   {% if is_granted('ROLE_MANAGER') %}
<p class="pt-4">
You are an Administrator:
	<a href="{{asset('admin')}}" class="text-info">BackOffice acces </a>
</p>

   
   {% endif %}
   <p>This is where you will be able to manage your profile and see your reservations</p>
   <hr>
    
<div class="row text-center">
	<div class="col-md-4">
		<div class="account-item">
			<a href="{{path('app_account_password')}}">Change password</a>
			<br>
		</div>
	</div>

	<div class="col-md-4">
		<div class="account-item">
			<a href="#">My reservations</a>
		</div>
	</div>

	<div class="col-md-4">
		<div class="account-item">
			<a href="">Join us</a>
		</div>
	</div>
</div>

<hr>

    

   
{% endblock %}