{% extends "layouts/base.html.twig" %}
{% block title %}Hotel - {% endblock %}


{% block body %}
<div class=" mb-5 container text-center">
  <h1 class="">Nos Hôtels</h1><hr class="mb-5">
   
    {% for establishement in establishements %}
    <div class="container mb-5 ">
      <div class="row d-flex">
      <div class="md-auto col-12">
       {% include "establishement/single_establishement.html.twig" %}
      </div>
      </div>     
    </div>
    {% endfor %}
</div>
    
  


   
{% endblock %}