{% extends 'layouts/base.html.twig' %}

{% block title %}Hypnos{% endblock %}


  {% block banner %}

     <div class="container-fluid text-center p-2" id="hotel-banner" style=";background : url('/img/banner.jpg'); background-size:cover;background-position:center;">
       <h1 class="pt-4 display-3">Hypnos Hotels</h1>
<h2 class="text-primary h4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a elit dignissim, malesuada neque eu, pulvinar lectus.</h2>

       <p><a class="mt-3 btn btn-info" href="#" role="button">Book a suite &raquo;</a></p>
     </div>
    
 {% endblock %}
    
    {% block body %}

    {% include "serviceHotel/index.html.twig" %}

   <div class="container-fluid">
   <h1 class="text-center">Our favourites</h1><hr>
  
   </div>  

 
 
    {% endblock %}  
     
