{% extends 'layouts/base.html.twig' %}

{% block title %}Hypnos{% endblock %}


  {% block banner %}

     <div class="container-fluid text-center" id="hotel-banner" style=";background : url('/img/banner.jpg'); background-size:cover;background-position:center;">
       <h1 class="pt-4 display-3">Hypnos Hotels</h1>
       <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
       <p><a class="mt-3 btn btn-info" href="#" role="button">Book a suite &raquo;</a></p>
     </div>
    
 {% endblock %}
    
    {% block body %}

   <div class="container-fluid">
   <h1 class="text-center">Our Favourites</h1><hr>
  
   </div>  

 
 
    {% endblock %}  
     
