.jumbotron {
    
   height: 300px;
   
}

.fond {
    background-image: url("/public/img/banner.jpg");
    background-position: center;
    background-size: cover;
    background-origin: padding-box;
    height: 300px;
    width: 100%;
    color:white;
    
}

