{% extends "layouts/base.html.twig" %}
{% block title %}Booking -
{% endblock %}


{% block body %}
  <div class="container">
    <h1 class="pt-4 pb-3">Reserver une Suite</h1>
   
    {% include "booking/_form.html.twig" %}
  </div>


{% endblock %}
